body{
    background: #B3B3B3;
    font-size: 150%;
    margin: 4%;
    display: table;
}
header{
    background: #666666;
    text-align: center;
    padding: 15px;
}
h1{
    color: #FFFFFF;
}
nav{
    font-variant:small-caps;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: #666666;
    background: #00B7ea;
}

section{
    width: 30%;
    margin-right: 5%;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
footer{

}
img{
    width: 10%;
}
a{
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: #555bfa;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-style: inset;
    border-color: lavender;
    margin: 0 auto;
}
a:hover{
    background-color: #7a6f6f;
    color: #ffffff;
}
ul{
    list-style-type: circle;
}
.selfimplementedIcon{
    list-style-image: ;
}
ol{
    list-style-type: georgian;

}
button{
    width: 20%;
    color-scheme: inherit;
    border-style: inset;
    border-color: lavender;
}