body{
    color: aliceblue;
    /* background: #B3B3B3; */

    background: #990909;
   	background: -moz-linear-gradient(top, #ca0f0f 0%, #a5c2ca 100%);
    background: -webkit-linear-gradient(#8b1212 0%, #a5c2ca 100%);
    background: -o-linear-gradient(#290909 0%, #a5c2ca 100%);
    background: linear-gradient(#020008 90%, #a5c2ca 100%);
    font-size: 150%;
    margin: 4%;
    display: table;
    
}
header{
    background: radial-gradient(#ffffff 10%, #000000 90%);
    text-align: center;
    padding: 30px;
    border-radius: 20%;
}
h1{
    color: #000000;
}
nav{
    font-variant:small-caps;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: xx-large;
    color: #000000;
    background: #ffffff;
    padding: 4px;
    border-radius: 15%;
}

.half{
    display:block;
    width: 45%;
    margin-right: 5px;
    float: left;
}

.whole{
    display: inline-block;
    width: 90%;
}

details{
    display: inline-block;
    width: 100%;
    font-style: italic;

}
summary{
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    color: #000000;
    background: #ffffff;
    padding: 4px;
    border-radius: 15%;

}
#WD4E-Logo{
    width: 10%;
}
#shortcuts{
    width: 100%;
}
a{
    color: rgb(255, 255, 255);
}
ul{
    list-style-image: square url("../favicon-256x256.png") ;
}
ol li{
    color: aliceblue;
}

button{
    display: table-cell;
    width: 20%;
    border-color: lavender;
    display: -webkit-inline-box;
    font-weight: bold;
    color: #f5f3f5;
    background-color: #000000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-style: inset;
    margin-right: 10;
}
button:hover{
    background-color: #fbfbfb;
    color: #f8f8fb;
}