body{
    /* background: #B3B3B3; */
    background: #797878;
   	background: -moz-linear-gradient(top, #797878 0%, #a5c2ca 100%);
    background: -webkit-linear-gradient(#797878 0%, #a5c2ca 100%);
    background: -o-linear-gradient(#797878 0%, #a5c2ca 100%);
    background: linear-gradient(#797878 0%, #a5c2ca 100%);
    font-size: 150%;
    margin: 4%;
    display: table;
    
}
header{
    background: radial-gradient(#000000 0%, #797878 100%);
    text-align: center;
    padding: 15px;
    border-radius: 20%;
}
h1{
    color: #FFFFFF;
}
nav{
    font-variant:small-caps;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: #797878;
    background: #00B7ea;
}

section{
    width: 30%;
    margin-right: 5%;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
img{
    width: 10%;
}
a{

}
ul{
    list-style-image: square url("../favicon-256x256.png") ;
}
ol{
    list-style-type: georgian;

}
button{
    width: 20%;
    border-color: lavender;
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    background-color: #555bfa;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-style: inset;
    margin-right: 5px;
}
button:hover{
    background-color: #7a6f6f;
    color: #555bfa;
}
.browserCapability{
    width: 100%;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;




}