body{
    background-color: rgb(0, 0, 0);
    color: rgb(177, 177, 177);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header, footer{
    background-color: rgb(65, 64, 64, 0.6);
    margin: o auto;
    padding: 10%;
}
h4{
    display: inline;
    color: rgb(255, 50, 50);
}
