.square{
    width: 30%;
    height:50%;
    background-color: aquamarine;
    margin: 20%;

}
.square:hover{
    transform:rotate(30deg,0deg);
    /* changes width factor x and height f. y */
    transform:scale(2,3);
    transform: translate(150,150);
    /* move x pixels to the left/right and y pixels up/down */
    transition-delay: 3s;
    /* rotate degrees along x and y angle */
    transform:skew(30deg,15deg); 
}
 .square:focus{
    /*move x pixels to the left/right and y pixels up/down*/
    transition-delay: 3s;
    transform: translate(150,150);
    /*rotate degrees along x and y angle*/
    transform:skew(30deg,15deg);    
}
.square:active{
    transform: scale(1,2);
}
.square:target{
    transform: scale(2,1);
}
.matrix{
    /* combination of all 2D transforms (abbreviation) */
    transform: matrix();
}
.box {
    width: 90%;
    height: 200px;
    background: #2db34a;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.box:hover {
    background: #ff7b29;
}