.square{
    width: 30%;
    height:50%;
    background-color: aquamarine;
    margin: 20%;

}
.square:hover{
    transform:rotate(30deg,0deg);
    /* changes width factor x and height f. y */
    transform:scale(2,3);
    transform: translate(150,150);
    /* move x pixels to the left/right and y pixels up/down */
    transition-delay: 3s;
    /* rotate degrees along x and y angle */
    transform:skew(30deg,15deg); 
}
 .square:focus{
    /*move x pixels to the left/right and y pixels up/down*/
    transition-delay: 3s;
    transform: translate(150,150);
    /*rotate degrees along x and y angle*/
    transform:skew(30deg,15deg);    
}
.square:active{
    transform: scale(1,2);
}
.square:target{
    transform: scale(2,1);
}
.matrix{
    /* combination of all 2D transforms (abbreviation) */
    transform: matrix();
}
.box {
    width: 50%;
    height: 200px;
    background: #2db34a;
    /* prefixes for accessibility neccessary */
        -webkit-transition-property: background, border-radius, padding;
       -moz-transition-property: background, border-radius, padding;
         -o-transition-property: background, border-radius, padding;
            transition-property: background, border-radius, padding;
    -webkit-transition-duration: 0.5s,1s,1.5s;
       -moz-transition-duration: 0.5s,1s,1.5s;
         -o-transition-duration: 0.5s,1s,1.5s;
            transition-duration: 0.5s,1s,1.5s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.box:hover {
    background: #ff7b29;
    border-radius: 20%;
    padding: 20%;
}
ul{
    display: table;
    table-layout: auto;
}
button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}