.square{
    width: 30%;
    height:50%;
    background-color: aquamarine;
    margin: 100px;

}
.square:hover{
    transform:rotate(30deg);
    /* changes width factor x and height f. y */
    transform:scale(2,3);
}
.square:active{
    /* move x pixels to the left/right and y pixels up/down */
    transition-delay: 3s;
    transform: translate(150,150);

    
}
.toSkew{
    /* rotate degrees along x and y angle */
    transform:skew(30deg,15deg);
}
.matrix{
    transform: matrix();
}